@media screen and (min-width: 800px) {
    

fieldset {
    width: 400px; 
    padding: 10px;
    margin-left: 35%;
    margin-top: 5%;
} 
legend {
    font-weight: bold;
} 
.este {float: left;
    display: block;
    width: 100px;
} 
input {float: none; 
    display: block;
} 
.centrado {margin: 10px 200px;
} 

#fecha1{
	margin-left: 100px;
	margin-top:-20px;
}

#fecha2{
	margin-left:100px;
	margin-top:-17px;
}
}

/*PARA PANTALLAS PEQUEÑAS*/

@media screen and (max-width: 800px){
fieldset {
    width: 200px; 
    padding: 10px;
    margin-left: 0%;
    margin-top: 5%;
} 
legend {
    font-weight: bold;
} 
.este {
    float: left;
    display: block;
    width: 100px;
} 
input {float: none; 
    display: block;
} 
.centrado {
    margin: 10px 100px;
} 

#fecha1{
    margin-left: 100px;
    margin-top:-20px;
}

#fecha2{
    margin-left:100px;
    margin-top:-17px;
}
}