@media screen and (min-width: 600px) {
    
/*Imagenes*/
article.Imagen{
    width: 70%;
    
    margin: 0 auto;
    
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
   
}

article.Imagen > p{
    text-align: center;
}

.pequeno{
    width:60%;
    height:60%;
}

/*Inicio sesión*/
form{
    width:50%;
    height: 10%;
    padding:10px;
    margin-left: 40%;
}

fieldset.registro{
    height:10%;
    width: 200px;
    padding: 10px;
    border-color: none;
}

legend{ font-weight: bold;}

label {float: left; display: block; width: 200px;} 

input {float: none; display: block;} 

.centrado{
    margin: 10px 100px;
}
}

/*PARA PANTALLAS PEQUEÑAS*/
@media screen and (max-width: 600px) {
    /*Imagenes*/

    img{
        width:200px;
    }

article.Imagen{
    width: 250px;
    
    margin: 0 auto;
    
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
   
    }

article.Imagen > p{
    text-align: center;
}

/*Inicio sesión*/
form{
    width:40%;
    height: 10%;
    padding:10px;
    margin-left: 0%;
}

.pequeno{
    width:200px;
    height:200px;
}

fieldset.registro{
    height:10%;
    width: 200px;
    padding: 10px;
    border-color: none;
}

legend{ font-weight: bold;}

label {float: left; display: block; width: 200px;} 

input {float: none; display: block;} 

.centrado{
    margin: 10px 10px;
}
    
}