@media screen and (min-width: 800px){
body {
    font-family: trebutchet MS, sans-serif;
    background: #c0b17b;
    
}

.logo{height: auto;}
.boton1 {
    margin-left: 42%;
}
.boton2 {
   margin-top: -21px;
    margin-left: 48%;
}
.modificar{
    margin-left: 10%;
    margin-top: -10px;
    margin-bottom: 65px;
}
.contr {
    margin-left: 40%;
    color: red;
}
p {
    padding: 1px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 1em;
    text-align: left;
    line-height: 1.50;
}

h2{
    padding: 10px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 1.75em;
    text-align: left;
    line-height: 0.2;
}

h3{
    text-align: center;
}

header {
    margin: 0 auto;
   text-align: center;
   background-color: black;
    
}

footer {
    margin: 0 auto;
    height: 10%;
    width: 100%;
    background: #776939 ;
    clear: both;
    
}

/*Menú nav*/
nav{
    float:left;
    height: 40%;
    width:100%;
    background:#776939;
    text-align: center;
}

a.menu{
    color:white;
    margin: 10% 5% 10% 5% ;
    border:5px;
    padding:1px;
}   
}

/*PARA PANTALLAS PEQUEÑAS*/

@media screen and (max-width: 800px) {

   body {
    font-family: trebutchet MS, sans-serif;
    background: #c0b17b;
    
}

.logo{height: 100px;}

p {
    padding: 10px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 1em;
    text-align: left;
    line-height: 1.50;
}

h2{
    padding: 10px;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 1.75em;
    text-align: left;
    line-height: 0.2;
}

header {
    margin: 0 auto;
    text-align: center;
    background-color: black;
    
}

footer {
    margin: 0 auto;
    height: 10%;
    width: 100%;
    background: #776939 ;
    clear: both;
    
}

/*Menú nav*/
nav{
    float:left;
    height: 40%;
    width:100%;
    background:#776939;
    text-align: center;
}

a.menu{
    
    margin: 10% 5% 10% 5% ;
    border:5px;
    padding:1px;
}
    
}